@use "mixin";

.dashboardProductBox{
    background-color: white;
    padding: 2rem;
    overflow: auto;
    @include mixin.square(100%);
}

.createProductBtn {
    position: fixed;
    right: 2rem;
    top: 2rem;
    @include mixin.square(2.5rem);
    @include mixin.flex(row,center,center,0);
    border-radius: 50%;
    background-color: rgb(201,9,9);
    color: white;

    &:hover {
        opacity: 0.8 ;
    }
}